*{box-sizing:border-box}
html,body {
  margin: 0;
  padding:0;
  overflow:hidden;
  max-width: 100vw;
  max-height:100vh;
   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


:root {
  text-align: center;
}
html,body{background-color:#ddd;}

.nav {
  appearance: none;
  opacity: 0;
  z-index:-1;
  position: relative;
  z-index: 999;
  outline: 0;
}

section {
 
   font-family: 'Krona One', sans-serif;
  display: grid;
  place-content: center;
  background-color:white; 
  font-size: 12vw; 
  font-weight:800;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex: middle;
  transition: background .5s ease;
   opacity:0;
 transform: scale(.6) translate(0%,0);
}

@media (orientation: portrait) {section{  font-size: 10vw; }}

 
.n1:not(:checked) ~ .s1,
.n2:not(:checked) ~ .s2,
.n3:not(:checked) ~ .s3,
.n4:not(:checked) ~ .s4,
.n5:not(:checked) ~ .s5,
.n6:not(:checked) ~ .s6,
.n7:not(:checked) ~ .s7,
.n8:not(:checked) ~ .s8 {  animation: bye 1s cubic-bezier(.83,0,.35,1) forwards}

@keyframes bye{
  0%{opacity:1; background-color:white; z-index:7;box-shadow: 0 1em 2em -1em rgba(0,0,0,0.5)}
  10%{opacity:1}
  50%{transform:scale(.6) rotate(2deg) translate(15%,0);z-index:8; background-color:#fff;box-shadow: 0 1em 2em -1em rgba(0,0,0,0)}
  100%{transform:scale(.6) translate(0%,0); opacity:1; z-index:5; background-color:#ccc}
}


@keyframes hello{
  0%{opacity:1; background-color:#fff; z-index:1; transform:scale(.2)   translate(-50%,-20%) rotate(-10deg)  translate(-60%,0);box-shadow: 0 1em 2em -1em rgba(0,0,0,0.5)}
  40%{z-index:1;}50%{transform:scale(.6)   translate(-40%,-20%) rotate(-10deg)  translate(-60%,0);  z-index:9;}
  100%{transform:scale(.6) translate(0%,0); opacity:1; z-index:9; box-shadow: 0 1em 2em -1em rgba(0,0,0,0.5)}
}



.n1:checked ~ .s1,
.n2:checked ~ .s2,
.n3:checked ~ .s3,
.n4:checked ~ .s4,
.n5:checked ~ .s5,
.n6:checked ~ .s6,
.n7:checked ~ .s7,
.n8:checked ~ .s8 {
  background-color: #fff;
  z-index: 1;
  transform:  scale(.6) translate(0%,0);
   animation: hello 1s cubic-bezier(.83,0,.35,1) forwards
}

@keyframes hereiam {
 
  100% {
    color: transparent;
    text-shadow: 0 0 0 #000;
    transform: none;
  }
}

 